body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
  background-color: #f3f3f3;
}

.container {
  max-width: 800px;
  margin: auto;
  padding: 20px;
  background-color: #fff;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  margin-top: 40px;
}

textarea {
  width: 100%;
  height: 400px;
  padding: 10px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 8px;
  resize: vertical;
}

button {
  padding: 10px 20px;
  margin: 10px 5px 0 0;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

#guardar {
  background-color: #4CAF50;
  color: white;
}

#borrar {
  background-color: #f44336;
  color: white;
}

#descargar {
  background-color: #2196F3;
  color: white;
}

#agregar {
  background-color: rgb(250, 202, 9);
  color: white;
}